<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @itinerary.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @itinerary.content %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
