<p id="notice"><%= notice %></p>

<p>
  <strong>Investor:</strong>
  <%= @relationship.investor_id %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @relationship.investment_id %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
