<%= image_tag @user.image_url %>
<i class="fa fa-twitter"></i>@<%= @user.screen_name %> <br>
<%= @user.username %><br>
<%= @user.location %>

<ul>
Investors: <%= @user.investors.count %>
</ul>

<ul>
Investments: <%= @user.investments.count %>
</ul>

<div>
<!-- Integrity : <%#= rating_for @user, 'integrity',:disable_after_rate => true %> -->
 </div>

<a class="twitter-timeline"
  href="https://twitter.com/twitterapi"
  data-widget-id="578710097695797248"
  width="250"
  height="500"
  data-user-id=<%= @user.uid %>
  data-show-replies="false"
  data-tweet-limit="50">
</a>

<body>
  <script src="//platform.twitter.com/widgets.js"></script>
</body>

