<div class="outer1" style="z-index: 99999;">
  <div class="container">
    <div class="row">
     <div class="topHeader">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
        <div class="leftCol">
          <div class="profilePic">
            <%= image_tag @user.image_url, :width => 148, :length => 148 %>
          </div>
          <h3 class="userName"><%= @user.username %></h3>
          <hr/>
          <div class="userPicBtn">
            <a href="javascript:;">
              <label><img src="/assets/images/investors_icon.png" /></label>
              <label><span class="whiteTextBold text-center"><%= @user.investors.count %></span><br />
                <span>Investors</span></label>
              </a>
              <a href="javascript:;">
                <label><img src="/assets/images/investments_icon.png" /></label>
                <label><span class="whiteTextBold text-center"><%= @user.investments.count %></span><br />
                  <span>Investments</span></label>

                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 hidden-xs">
            <div class="rightCol">
              <h1 class="rightColTitle">Preferred Games</h1>
              <div class="row">
                <div class="col-sm-7">
                  <ul class="games">
                    <li>
                      <a>Texas Hold 'Em</a>
                    </li>
                    <li>
                      <a>Omaha</a>
                    </li>
                    <li>
                      <a>7-Card Stud</a>
                    </li>
                    <li>
                      <a>5-Card Draw</a>
                    </li>
                    <li>
                      <a>Follow the Queen</a>
                    </li>
                    <li>
                      <a>2-7 lowball</a>
                    </li>
                    <li>
                      <a>Crazy Pineapple</a>
                    </li>
                  </ul>

                </div>
                <div class="col-sm-5">
                  <div class="row marginTop15">
                    <% if @user.location == "" %>
                    <span class="col-sm-2"><i class="fa fa-map-marker fa-lg"></i></span>
                    <span class="col-sm-8">Add Location</span>
                    <% else %>
                    <span class="col-sm-2"><i class="fa fa-map-marker fa-lg"></i></span>
                    <span class="col-sm-8"><%= @user.location %></span>
                    <% end %>
                  </div>
                  <div class="row marginTop15">
                    <span class="col-sm-2"><i class="fa fa-twitter fa-lg"></i></span>
                    <span class="col-sm-8">@<%= @user.screen_name %></span>
                  </div>
                  <div class="row marginTop15">
                    <span class="col-sm-2"><img src="/assets/images/poker_icon.png" /></span>
                    <span class="col-sm-8">Online Poker Name</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="slideit" style="width:100%;height:400px;position: absolute; top: 0;z-index: 0;">
  </div>


  <div class="clear"></div>

  <div class="container marginTop45">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
       <div class="panel">
         <div class="panel-heading tweet-heading"> <h1 class="panel-title"><img src="/assets/images/tweet.png" width="42" height="42" alt="">Tweets</h1></div>
         <div class="panel-body">
          <ul class="list-unstyled tweet-comment">
            <a class="twitter-timeline"
            href="https://twitter.com/twitterapi"
            data-widget-id="578710097695797248"
            width="250"
            height="500"
            data-user-id=<%= @user.uid %>
            data-show-replies="false"
            data-tweet-limit="50">
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
    <!-- tabs -->
    <div class="tabbable">
      <ul class="nav nav-tabs user-tabs">
        <li class="active"><a href="#Itinerary" data-toggle="tab">Itinerary</a></li>
        <li><a href="#Cashes" data-toggle="tab">Previous Cashes</a></li>
        <li><a href="#Investors" data-toggle="tab">Investors</a></li>
        <li><a href="#Graphs" data-toggle="tab">Graphs</a></li>
      </ul>
      <div class="tab-content user-tab-content">
        <div class="tab-pane active" id="Itinerary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="tab-pane" id="Cashes">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="tab-pane" id="Investors">
          <% @user.investors.each do |invest| %>
          <div class="col-sm-6 col-md-4 marginTop20">
            <div class="investor-name">
             <h2><%= invest.username%></h2>
             <div class="investor-img"><%= image_tag invest.image_url, :width=> 192, :height => 160 %></div>
             <p>Lorem Ipsum is simply printing</p>
           </div>
         </div>
         <% end %>
       </div>
       <div class="tab-pane graphs" id="Graphs">
        <img src="/assets/images/graph.jpg" width="762" height="499" alt="">
        <p>Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</p>
      </div>
    </div>
  </div>
  <!-- /tabs -->
</div>
</div>
</div>



<div class="bottom">
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <p>Copyright @ StakeHouse.com</p>
    </div>
    <div class="col-xs-12 col-sm-6 pull-right">
     <ul class="topSocial pull-right">
      <li class="topSocial"><a class="twitter" href="" target="_blank"></a></li>
      <li class="topSocial"><a class="facebook" href="" target="_blank"></a></li>
      <li class="topSocial"><a class="linkedin" href="" target="_blank"></a></li>
    </ul>
  </div>
</div>
</div>
</div>

<script>
  $(document).ready(function () {
    $("li.dropdown a").click(function () {
      $("li.dropdown").toggleClass("open");
    });
  });
  $(window).load(function() {
   var i =0;
   var images = ['coverPicBg1.png', 'coverPicBg.png', 'coverPicBg2.png'];
   var image = $('#slideit');
                           //Initial Background image setup
                           image.css('background-image', 'url(coverPicBg.png)');
                           //Change image at regular intervals
                           setInterval(function(){
                             image.fadeOut(1000, function () {
                               image.css('background-image', 'url(' + images [i++] +')');
                               image.fadeIn(3000);
                             });
                             if(i == images.length)
                              i = 0;
                          }, 8000);
                         });
</script>



<body>
  <script src="//platform.twitter.com/widgets.js"></script>
</body>

