<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <hr>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <br>
    <div class="field">
      <%= f.label :remote_image_url, "OR image URL" %><br/>
      <%= f.text_field :remote_image_url, :class => 'form-control' %>
    </div>
  <hr>
  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
