<h1>
  <%= @tour.name %>
</h1>

<h5> Location: <%= @tour.tournaments.pluck(:location).first%></h5>
<br>
<table class="table" data-url="data1.json" data-height="299" click-to-select="true">
  <thead>
    <tr>
      <th data-field="state" checkbox="true"></th>
      <th data-field="start date" data-align="right">Start Date</th>
      <th data-field="name" data-align="center">Event</th>
      <th data-field="buy in" data-align="">Buy In</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <% @tour.tournaments.each do |tournament|%>
    <td></td>
    <td ><%= tournament.start_date %></td>
    <td><%= tournament.event%></td>
    <td><%= number_to_currency(tournament.buy_in) %></td>
  </tr>
  </tbody>
    <% end %>
</table>


<div class="btn-group-lg" role="group">
  <button type="button" class="btn btn-default"><%= link_to 'Request  Stake', new_stake_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', tours_path %></button>
</div>
</div>

